<!DOCTYPE html>
<html>
<head>
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
</head>
<body>
<div class="justify-content-center align-items-center bg-info bg-opacity-25 p-5 m-5">
    @RenderBody()
</div>
</body>
</html>