@using BusinessLogic.DataTransferObjects.DepartmentDtos
@using BusinessLogic.Services.Interfaces
@using Data.Models.Employee
@using Data.Models.Shared.Enums
@inject IDepartmentService DepartmentService
@model presentation.mvc.Models.EmployeeViewModel.EmployeeViewModel
@{
    var departments = new SelectList(DepartmentService.GetAll(), nameof(DepartmentDto.Id), nameof(DepartmentDto.Name));
}
<div asp-validation-summary="ModelOnly"></div>
<div class="form-group mb-3 col-6">
    <label class="form-label" asp-for="Name"></label>
    <input asp-for="Name" class="form-control" />
    <span asp-validation-for="Name" class="text-danger"></span>
</div>

@* <div class="form-group mb-3 col-6"> *@
@*     <label class="form-label" asp-for="Image"></label> *@
@*     <input asp-for="Image" class="form-control" /> *@
@*     <span asp-validation-for="Image" class="text-danger"></span> *@
@* </div> *@

<div class="form-group mb-3 col-6">
    <label class="form-label" asp-for="Image"></label>

    @* Show current image if available *@
    @if (Model != null && !string.IsNullOrEmpty(Model.ImagePath))
    {
        <div class="mb-2">
            <img src="@Url.Content("~/Files/Images/" + Model.ImagePath)" alt="Employee Image" width="150" />
        </div>
    }
    <input asp-for="Image" type="file" class="form-control" />
    <span asp-validation-for="Image" class="text-danger"></span>
</div>

<div class="form-group mb-3 col-6">
    <label class="form-label" asp-for="Email"></label>
    <input asp-for="Email" class="form-control" />
    <span asp-validation-for="Email" class="text-danger"></span>
</div>
<div class="form-group mb-3 col-6">
    <label class="form-label" asp-for="Address"></label>
    <input asp-for="Address" class="form-control" />
    <span asp-validation-for="Address" class="text-danger"></span>
</div>
<div class="form-group mb-3 col-6">
    <label class="form-label" asp-for="Phone"></label>
    <input asp-for="Phone" class="form-control" />
    <span asp-validation-for="Phone" class="text-danger"></span>
</div>
<div class="form-group mb-3 col-6">
    <label class="form-label" asp-for="Age"></label>
    <input asp-for="Age" class="form-control" />
    <span asp-validation-for="Age" class="text-danger"></span>
</div>
<div class="form-group mb-3 col-6">
    <label class="form-label" asp-for="HireDate"></label>
    <input type="date" asp-for="HireDate" class="form-control" />
    <span asp-validation-for="HireDate" class="text-danger"></span>
</div>
<div class="form-group mb-3 col-6">
    <label class="form-label" asp-for="Salary"></label>
    <input asp-for="Salary" class="form-control" />
    <span asp-validation-for="Salary" class="text-danger"></span>
</div>
<div class="form-group mb-3 col-6">
    <input asp-for="IsActive" class="form-check-input" />
    <label class="col-form-label" asp-for="IsActive"></label>
</div>

<div class="form-group mb-3 col-6">
    <label class="form-label" asp-for="DepartmentId"></label>
    <select asp-for="DepartmentId" asp-items="departments">
        <option value="@null">Select Department</option>
    </select>
    <span asp-validation-for="DepartmentId" class="text-danger"></span>
</div>







<div class="form-group mb-3 col-6">
    <label class="form-label" asp-for="Type"></label>
    <select asp-for="Type" asp-items="Html.GetEnumSelectList<EmployeeType>()">
        <option value="">Select Employee Type</option>
    </select>
    <span asp-validation-for="Type" class="text-danger"></span>
</div>
<div class="form-group mb-3 col-6">
    <label class="form-label" asp-for="Gender"></label>
    <div>
        @foreach (var opt in Enum.GetValues<Gender>())
        {
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" asp-for="Gender" value="@opt"/>
                <label class="form-check-label">@opt</label>
            </div>
        }
    </div>
    <span asp-validation-for="Gender" class="text-danger"></span>
</div>