@model dynamic

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<script src="https://cdnjs.cloudflare.com/ajax/libs/lottie-web/5.9.6/lottie.min.js"></script>

<div class="error-container">
    <div class="lottie-animation"></div>
    <div class="error-content">
        <h1>404</h1>
        <p>Oops! Page Not Found!!</p>
        <a href="../Home" class="btn btn-primary">Home</a>
    </div>
</div>