@model BusinessLogic.DataTransferObjects.CreatedDepartmentDto

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<form asp-action="Create">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-group">
        <label class="col-form-label" asp-for="Code"></label>
        <input type="text" asp-for="Code" class="form-control"/>
        <span asp-validation-for="Code" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label class="col-form-label" asp-for="Name"></label>
        <input type="text" asp-for="Name" class="form-control"/>
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div class="form-group mb-3">
        <label class="form-label" asp-for="Description"></label>
        <textarea class="form-control" asp-for="Description"></textarea>
    </div>
    <p></p>
    <input type="submit" value="Create" class="btn btn-primary"/>
    <a asp-action="Index" class="btn btn-outline-dark">Back To List</a>
</form>


@section ValidationScripts
{
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}
