
<section>
    <div style="text-align: center;" class="mt-2 bg-success p-4">
        <div>
            <h2>Welcome To About Us Page</h2>
            <p>Route Academy</p>
        </div>
    </div>
</section>